body{
	font-family:Helvetica, sans-serif;
}
#panel-1 > h3{
	display:block;
	color:white;
}

.flex-container{
	display:flex;
	padding:20px;
	gap:10px;
}
.active img{
	width:100%;
	flex:5;
}
img{
	width:80px;
	height:400px;
	border-radius:40px;
}
img:hover{
	width:600px;
	flex:5;
}


/*    */

.flex-item{
	position:relative;
}
.hide{
	position:absolute;
	top:320px;
	left:20px;
	display:none;
}
img:hover + .hide{
	display:block;
	color:white;
}

.flex-item:active{
	flex:5;
}


